/* Set the body style */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(61, 105, 228), hsla(224, 67%, 18%, 0.5));
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
  }
  
  /* Style the QR code container */
  #qr-code-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #3890f5;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 500px;
  }
  
  /* Style the QR code */
  #qr-code {
    width: 130px;
    height: 130px;
    display: flex;
    margin: 0 auto;
  }
  
  /* Style the QR code text container */
  #qr-code-text{
    text-align: center;
  }

  /* Style the QR code text h1 element */
  #qr-code-text h1 {
    font-weight: 700px;
    font-size: 15px;
  }
  
/* Style the QR code text p element */
  #qr-code-text p {
    font-weight: 400px;
    font-size: 10px;
  }
  
  /* Style the QR component container */
  .qr-component {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left:5px ;
    padding-right: 5px;
    padding-bottom: 12.5px;
    padding-top: 12.5px;
    justify-content: center;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
  }